<!-- imports -->
{% from "client/components/navbar.html" import navbar %}
{% from "client/components/footer.html" import footer %}
{% from "client/components/css_js.html" import css, js %}
<!-- html -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            {% block title %}{% endblock %} | Yale Thinkspace
        </title>
        <!-- meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- imports -->
        {{ css() }}
        <!-- custom css -->
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <div class="container">
            <!-- navbar -->
            {{ navbar() }}
            <!-- content -->
            {% block content %}
            {% endblock %}
        </div>
        <!-- footer -->
        {{ footer() }}
        <!-- scripts -->
        {{ js() }}
        <!-- custom scripts-->
        {% block scripts %} 
        {% endblock %}
    </body>
</html>
