{% extends "layout.html" %} {% block title %}Projects{% endblock %} {% block content %}
<br>

<div class="row">
    <div class="col-md-6 text-md-left">
        <h3>Featured projects</h3>
        <span>Click a card to see more information, or leave a heart!</span>
    </div>
    <div class="col-md-6 text-md-right">
        <a href="#" class="btn btn-primary">Browse public projects
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
        </a>
    </div>
</div>

<br>

{% for row in projects | batch(3) %}
<div class="card-deck">
    {% for project in row %}
    <div class="card">
        <a href="/projects/{{project.id}}" class="card-link"></a>
        <img class="card-img-top" src="../static/img/default/project.jpg" alt="Card image cap">
        <div class="card-body">
            <h4 class="card-title">{{project.title}}</h4>
            <h6 class="card-subtitle mb-2 text-muted">{{project.subtitle}}</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-outline-danger btn-sm">
                <i class="fa fa-heart" aria-hidden="true"></i>
                <span class="badge badge-danger">{{project.hearts}}</span>
            </a>
        </div>
    </div>
    {% endfor %}
</div>
<br>
{% endfor %}
{% endblock %}