{% extends "layout.html" %} 
{% block title %}{{project.title}}{% endblock %} 
{% block content %}
<!-- project -->
<br>
<div class="inner">
    <h2>{{project.title}}</h2>
    <p class="text-muted">{{project.subtitle}}</p>
</div>

<div class="row">
    <!-- left/title side -->
    <div class="col-sm-8">
        <img src="../static/img/default/project.jpg" width="1024" class="img-fluid rounded">
        <br>
        <br>
        <br>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="description-tab" data-toggle="tab" href="#description" role="tab" aria-controls="description"
                    aria-selected="true">Description</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="posts-tab" data-toggle="tab" href="#posts" role="tab" aria-controls="posts" aria-selected="false">Posts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="comments-tab" data-toggle="tab" href="#comments" role="tab" aria-controls="comments" aria-selected="false">Comments</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
                <br>
                <p> Ac ut est convallis a urna. Turpis nisl praesent odio pulvinar purus. Eget vitae justo. Sed per elit sed
                    orci sed. Fusce egestas massa. In wisi est. Ipsum consectetuer est porttitor wisi hymenaeos. At non etiam
                    quis sit sagittis. Mattis lectus vulputate. Suspendisse molestie cras. Ut diam sem felis nostra tincidunt
                    risus sit ultrices. In amet aliquet. Quis sollicitudin malesuada. Risus molestie hymenaeos in nec non
                    ligula malesuada praesent. Ullamcorper a turpis. Libero pede leo. Egestas lorem atque. Sit ornare sed.
                    Tortor ac eleifend. Ut at arcu enim erat commodo. Pulvinar non justo. Lectus ut sit ipsum cras sapien
                    tristique montes a. Ut nullam suspendisse leo porttitor vivamus. Nulla duis nulla pharetra metus purus
                    dictum nisl ac metus libero malesuada. Elementum sit pede felis risus wisi vulputate sed fugiat porttitor
                    pellentesque nascetur in cras orci in rutrum faucibus eget dapibus vestibulum mattis velit ultrices integer
                    vehicula mattis donec consectetuer adipiscing.
                </p>
            </div>
            <div class="tab-pane fade" id="posts" role="tabpanel" aria-labelledby="posts-tab">
            </div>
            <div class="tab-pane fade" id="comments" role="tabpanel" aria-labelledby="comments-tab">
                <br>
                <br>
                <div>
                    <form id="comment_form" , method="post" , action="/comments" data-project-id={{project.id}}>
                        <textarea id="comment_content">Start writing your comment here.</textarea>
                        <br>
                        <button id="comment_button" class="btn btn-primary float-right">
                            <i class="fas fa-comments"></i> Leave a comment
                        </button>
                    </form>
                    <br><br><br>
                </div>
                <div id="comment-list">
                    {% for comment in project.comments | sort(attribute="timestamp", reverse=True)%}
                    <div class='card', data-comment-id={{comment.id}}>
                        <div class='card-body'>
                            <h5 class='card-title'>{{comment.user.first_name}} {{comment.user.last_name}}</h5>
                            <h6 class='card-subtitle mb-2 text-muted'>{{comment.user.username}}</h6>
                            <p class='card-text'>{{comment.content | safe}}</p>
                            <p class='card-text'>
                                <small class='text-muted'>{{comment.timestamp | humanReadableTime }}</small>
                            </p>
                        </div>
                    </div>
                    <br> 
                    {% endfor %}
                </div>
                <br>

            </div>
        </div>
    </div>
    <!-- panel -->
    <div class="col-sm-4">
        <!-- founder grid -->
        <div class="card" style="border-bottom-0 border-left-0 border-right-0">
            <div class="card-body">
                <h4 class="card-title">Quick look</h4>
                <a href="#" class="badge badge-pill badge-success">Release</a>
                <br>
                <h5 class="card-text text-muted">What we're looking for:</h5>
                <span>Web development, hotdogs, cash</span>
                <br>
                <br>
                <a href="#" class="btn btn-primary" style="width: 100%">Join</a>
                <br style="line-height: 10px;">
                <br style="line-height: 10px;">
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group mr-2" role="group" aria-label="First group">
                        <button type="button" class="btn btn-secondary">1</button>
                        <button type="button" class="btn btn-secondary">2</button>
                        <button type="button" class="btn btn-secondary">3</button>
                        <button type="button" class="btn btn-secondary">4</button>
                    </div>
                    <div class="btn-group mr-2" role="group" aria-label="Second group">
                        <button type="button" class="btn btn-secondary">5</button>
                        <button type="button" class="btn btn-secondary">6</button>
                        <button type="button" class="btn btn-secondary">7</button>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Founders</h4>
                <div class="row justify-content-center">
                    <div class="col-sm">
                        <div>
                        </div>
                        <img src="../static/img/unnamed.jpg" class="rounded float-left" width="50px" height="50px">
                        <br>
                        <br>
                        <br>
                        <span class="text-muted">@feliciachang</span>
                    </div>
                    <div class="col-sm">
                        <img src="../static/img/unnamed.jpg" class="rounded float-left" width="50px" height="50px">
                        <br>
                        <span class="text-muted">@feliciachang</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 
{% block scripts %}
<script src="../static/js/tinymce/tinymce.min.js"></script>
<script src="../static/js/comments/comments.js"></script> 
{% endblock %}