 <div class="pagination d-flex justify-content-center align-items-center">
        {% if items.has_previous %}
            <a class="btn btn-primary"href="?page=1"><i class="fas fa-angle-double-left"></i> First</a>
            <a class="btn btn-primary"href="?page={{ items.previous_page_number }}"><i class="fas fa-angle-left"></i> Previous</a>
        {% endif %} 
        <span class="current">
            Page {{ items.number }} of {{ items.paginator.num_pages }}
        </span>
        {% if items.has_next %}
            <a class="btn btn-primary" href="?page={{ items.next_page_number }}">Next <i class="fas fa-angle-right"></i></a>
            <a class="btn btn-primary" href="?page={{ items.paginator.num_pages }}">Last <i class="fas fa-angle-double-right"></i></a>
        {% endif %}
</div>