<!-- imports -->
{% extends "layout.html" %}
{% load static %}
<!-- page title -->
{% block title %} 
Login to your account
{% endblock %}
<!-- add custom css here -->
{% block head %} 
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}
<!-- add main content here -->
{% block content %}
<div class="login">
    <div class="row">
        <div class="col-lg-6 login__left-panel">
            <img class="login__left-panel__img" src="{% static 'img/login/left-panel.jpg' %}" width="100%"/>
        </div>
        <div class="col-lg-6 login__right-panel">
            <div class="login__right-panel--text text-center">
                <h2>Login</h2>
                <p>Welcome back! Please login to your account.</p>
            </div>
            <div class="login__right-panel__form">
                <form method="post" novalidate>
                    {% csrf_token %} 
                    {% include 'include/generic/form.html' with form=form %}
                    <div class="row login_right-panel__form__buttons">
                        <div class="col-6">
                            <button type="submit" class="btn btn-lg btn-dark btn-block login__right-panel__form__submit">Login</button>
                        </div>
                        <div class="col-6">
                            <a class="btn btn-lg btn-outline-dark btn-block" href="{% url 'sign-up' %}">Sign up</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
<!-- add custom scripts here -->
{% block scripts %}
{% endblock %}
