<!-- imports -->
{% extends "layout.html" %}
{% load static %}
<!-- page title -->
{% block title %} 
Reset password
{% endblock %}
<!-- add custom css here -->
{% block head %} 
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}
<!-- add main content here -->
{% block content %}
<div class="login">
    <div class="row">
        <div class="col-lg-6 login__left-panel">
            <img class="login__left-panel__img" src="{% static 'img/login/left-panel.jpg' %}" width="100%"/>
        </div>
        <div class="col-lg-6 login__right-panel">
            <div class="login__right-panel--text text-center">
                <h2>Reset your password</h2>
            </div>
            {% if validlink %}
                <form method="post" novalidate>
                    {% csrf_token %} 
                    {% include 'components/form.html' with form=form %}
                    <div class="row login_right-panel__form__buttons">
                        <div class="col-6">
                            <button type="submit" class="btn btn-lg btn-dark login__right-panel__form__submit">Change</button>
                        </div>
                    </div>
                </form>
            {% else %}
                <p>
                    The password reset link was invalid, possibly because it has already been used.
                    Please restart the reset process.
                </p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
<!-- add custom scripts here -->
{% block scripts %}
{% endblock %}
