<!-- imports -->
{% extends "layout.html" %}
{% load static %}
<!-- page title -->
{% block title %} 
Reset password
{% endblock %}
<!-- add custom css here -->
{% block head %} 
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}
<!-- add main content here -->
{% block content %}
<div class="login">
    <div class="row">
        <div class="col-lg-6 login__left-panel">
            <img class="login__left-panel__img" src="{% static 'img/login/left-panel.jpg' %}" width="100%"/>
        </div>
        <div class="col-lg-6 login__right-panel">
            <div class="login__right-panel--text text-center">
                <h2>Reset your password</h2>
                <p>Your password has been reset. You may now <a href="{% url 'login' %}" class="hide-underline">login</a>.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
<!-- add custom scripts here -->
{% block scripts %}
{% endblock %}
