{% load static %}
<div class="card">
    <div class="card-body">
        <h1 class="card-title">Profile</h1>
        <p class="card-text">You can tweak your profile using the options below.</p>
        <!-- upload photo -->
        <hr>
        <h2 class="dashboard__profile__heading">Add a profile picture</h2>
        <div class="dashboard__profile__img">
            {% if user.photo %}
            <img src="{{ user.photo }}" class="rounded" width="50%">
            {% else %}
            <p>You don't seem to have a profile picture. Upload one!</p>
            {% endif %}
        </div>
        <form method="post" id="photo" action="{% url 'dashboard' %}" novalidate>
            {% csrf_token %} 
            {% include 'include/generic/form.html' with form=photo_form %}
            <div class="d-flex justify-content-end align-items-center">
                <button type="submit" class="btn btn-primary dashboard__profile__submit">Update</button>
            </div>
        </form>
        <!-- edit basic information -->
        <hr>
        <h2 class="dashboard__profile__heading">Edit basic information</h2>
        <form method="post" id="basic_info" action="{% url 'dashboard' %}" novalidate>
            {% csrf_token %} 
            {% include 'include/generic/form.html' with form=basic_info_form %}
            <div class="d-flex justify-content-end align-items-center">
                <button type="submit" class="btn btn-primary dashboard__profile__submit">Update</button>
            </div>
        </form>
        <!-- change password -->
        <hr>
        <h2 class="dashboard__profile__heading">Change password</h2>
        <form method="post" id="change_password" action="{% url 'change_password' %}" novalidate>
            {% csrf_token %} 
            {% include 'include/generic/form.html' with form=password_change_form %}
            <div class="d-flex justify-content-end align-items-center">
                <button type="submit" class="btn btn-primary dashboard__profile__submit">Update</button>
            </div>
        </form>
        <!-- about -->
        <hr>
        <h2 class="dashboard__profile__heading">About</h2>
        <h4 class="dashboard__profile__heading">Discuss your background, hobbies and projects.</h4>
        <p class="card-text">Write in HTML or text. Add as many links as you like.</p>
        <form method="post" id="about" action="{% url 'dashboard' %}" novalidate>
            {% csrf_token %} 
            {{ about_form }}
            <div class="d-flex justify-content-end align-items-center">
                <button type="submit" class="btn btn-primary dashboard__profile__submit">Update</button>
            </div>
        </form>
        <!-- resume -->
        <hr>
        <h3 class="dashboard__profile__heading">Add a resume</h3>
        <p class="card-text">Link to your website or a document (Google Drive works well).</p>
        <form method="post" id="resume" action="{% url 'dashboard' %}" novalidate>
            {% csrf_token %} 
            {% include 'include/generic/form.html' with form=resume_form %}
            <div class="d-flex justify-content-end align-items-center">
                <button type="submit" class="btn btn-primary dashboard__profile__submit">Update</button>
            </div>
        </form>
    </div>
</div>