{% load static %}
<div class="card">
    <div class="card-body">
        <h1 class="card-title">Profile</h1>
        <p class="card-text">You can tweak your profile using the options below.</p>
        <!-- upload photo -->
        <hr>
        <h2 class="dashboard__profile__heading">Upload a photo</h2>
        <div class="dashboard__profile__img">
            <img src="{% static 'img/dashboard/profile/default.jpg' %}" class="rounded" width="50%">
        </div>
        <form>
            <button type="input" class="btn btn-secondary dashboard__profile__submit">Choose</button>
            <button type="submit" class="btn btn-primary dashboard__profile__submit">Upload</button>
        </form>
        <!-- edit basic information -->
        <hr>
        <h2 class="dashboard__profile__heading">Edit basic information</h2>
        <form method="post" action="{% url 'dashboard_basic_info' %}" novalidate>
            {% csrf_token %} 
            {% include 'include/generic/form.html' with form=basic_info_form %}
            <div class="d-flex justify-content-end align-items-center">
                <button type="submit" class="btn btn-primary dashboard__profile__submit">Update</button>
            </div>
        </form>
        <!-- change password -->
        <hr>
        <h2 class="dashboard__profile__heading">Change password</h2>
        <form method="post" action="{% url 'change_password' %}" novalidate>
            {% csrf_token %} 
            {% include 'include/generic/form.html' with form=password_change_form %}
            <div class="d-flex justify-content-end align-items-center">
                <button type="submit" class="btn btn-primary dashboard__profile__submit">Update</button>
            </div>
        </form>
        <!-- about -->
        <hr>
        <h2 class="dashboard__profile__heading">About</h2>
        <h4 class="dashboard__profile__heading">Discuss your background, hobbies and projects.</h4>
        <p class="card-text">Write in HTML or text. Add as many links as you like.</p>
        <form method="post" action="{% url 'dashboard_about' %}" novalidate>
            {% csrf_token %} 
            {{ about_form }}
            <div class="d-flex justify-content-end align-items-center">
                <button type="submit" class="btn btn-primary dashboard__profile__submit">Update</button>
            </div>
        </form>
        <!-- resume -->
        <hr>
        <h3 class="dashboard__profile__heading">Add a resume</h3>
        <p class="card-text">Link to your website or a document (Google Drive works well).</p>
        <form>
            <div class="form-group">
                <input type="text" class="dashboard__profile__resume-upload" placeholder="">
            </div>
            <div class="d-flex justify-content-end align-items-center">
                <button type="submit" class="btn btn-primary">Update</button>
            </div>
        </form>
    </div>
</div>