<!-- imports -->
{% load static %}
<!-- html -->
<nav class="navbar sticky-top navbar-expand-lg navbar-light rounded bg-light justify-content-between">
    <!-- brand name -->
    <a class="navbar-brand" href="{% url 'index' %}">
        <!-- anchor tag - links to another page -->
        <img src="" width="30" height="30" class="d-inline-block align-top" alt=""> Yale Thinkspace
    </a>
    <!-- toggle button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarThinkspace" aria-controls="navbarThinkspace"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- left-aligned links -->
    <div class="collapse navbar-collapse" id="navbarThinkspace">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBrowse" role="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    Browse
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownBrowse">
                    <a class="dropdown-item" href="/projects">Projects</a>
                    <a class="dropdown-item" href="/users">Users</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Surprise me</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">News</a>
            </li>
        </ul>
        <!-- right-aligned links -->
        <ul class="navbar-nav ml-auto">
            <!-- search form-->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownSearch" role="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <i class="fa fa-search"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownSearch">
                    <form class="px-4 py-3">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control" id="searchQuery" placeholder="Search for..." aria-label="Search for...">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="submit">Search</button>
                                </span>
                            </div>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked> Everything
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2"> Projects
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3"> Users
                            </label>
                        </div>
                    </form>
                </div>
            </li>
            <!-- sign in form -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownSign" role="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <i class="fa fa-user-circle" aria-hidden="true"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    {% if user.is_authenticated %}
                        <a class="dropdown-item" href="{% url 'dashboard' %}">Dashboard</a>
                        <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                    {% else %}
                        <a class="dropdown-item" href="{% url 'login' %}">Login</a>
                        <a class="dropdown-item" href="{% url 'sign-up' %}">Sign up</a>
                    {% endif %}
                </div>
            </li>
        </ul>
    </div>
</nav>