<!-- imports -->
{% from "components/user.html" import user_card %}
{% from "components/project.html" import project_card %}

<!-- PROFILE -->
{% macro basic_info() -%}
<h2 class="dashboard__profile__heading">Edit basic information</h2>
<form>
    <div class="row">
        <div class="form-group col">
            <label>Username</label>
            <input type="text" class="form-control" id="login-username" placeholder="johndoe" disabled>
            <span class="text-muted">Username edits are not supported at this time.</span>
        </div>
        <div class="form-group col">
            <label>Email</label>
            <input type="email" class="form-control" id="login-username" placeholder="johndoe">
        </div>
    </div>
    <div class="row">
        <div class="form-group col">
            <label>First name</label>
            <input type="text" class="form-control" placeholder="First name">
        </div>
        <div class="form-group col">
            <label>Last name</label>
            <input type="text" class="form-control" placeholder="Last name">
        </div>
    </div>
    <div class="d-flex justify-content-end align-items-center">
        <button type="submit" class="btn btn-primary dashboard__profile__submit">Update</button>
    </div>
</form>
{%- endmacro %}

{% macro upload_photo() -%}
<h2 class="dashboard__profile__heading">Upload a photo</h2>
<div class="dashboard__profile__img">
    <img src="{{url_for('client.static',filename='img/dashboard/profile/default.jpg')}}" class="rounded" width="50%">
</div>
<form>
    <button type="input" class="btn btn-secondary dashboard__profile__submit">Choose</button>
    <button type="submit" class="btn btn-primary dashboard__profile__submit">Upload</button>
</form>
{%- endmacro %}

{% macro promote() -%}
<h2 class="dashboard__profile__heading">Promote yourself</h2>
<h3 class="dashboard__profile__heading">Write about...anything!</h3>
<form>
    <div class="form-group">
        <label>Rich text editing coming soon!</label>
        <textarea class="form-control" rows="3"></textarea>
    </div>
    <div class="d-flex justify-content-end align-items-center">
        <button type="button" class="btn btn-primary">Update</button>
    </div>
</form>
<h3 class="dashboard__profile__heading">Add external links</h3>
<form>
    <div class="form-group">
        <label>Add in a comma-separated list of emails, links to your social networks and/or memes.</label>
        <textarea class="form-control" rows="3"></textarea>
    </div>
    <div class="d-flex justify-content-end align-items-center">
        <button type="button" class="btn btn-primary">Update</button>
    </div>
</form>
<h3 class="dashboard__profile__heading">Add courses you've taken</h3>
<form>
    <div class="form-group">
        <input type="text" class="form-control dashboard__profile__course-search" placeholder="Search...">
    </div>
    <div class="dashboard__profile__course-badges">
        <span class="badge badge-pill badge-primary">AFAM 220</span>
        <span class="badge badge-pill badge-primary">CPSC 100</span>
        <span class="badge badge-pill badge-primary">CPSC 365</span>
    </div>
    <div class="d-flex justify-content-end align-items-center">
        <button type="submit" class="btn btn-primary">Update</button>
    </div>
</form>
<h3 class="dashboard__profile__heading">Upload a resume</h3>
<form>
    <div class="form-group">
        <input type="text" class="dashboard__profile__resume-upload" placeholder="">
    </div>
    <div class="d-flex justify-content-end align-items-center">
        <button type="submit" class="btn btn-primary">Upload</button>
    </div>
</form>
{%- endmacro %}

{% macro profile() -%}
<div class="card">
    <div class="card-body">
        <h1 class="card-title">Profile</h1>
        <p class="card-text">You can tweak your profile using the options below.</p>
        <hr> {{ upload_photo() }}
        <hr> {{ basic_info() }}
        <hr> {{ promote() }}
    </div>
</div>
{%- endmacro %}

<!-- SETTINGS -->
           
{% macro delete_account() -%}
<h2 class="dashboard__profile__heading">Delete your account</h2>
<div class="d-flex justify-content-between align-items-center">
    <span>Warning: your profile and all your data will be deleted when you click the button.</span>
    <form action="/delete-profile" method="post">
        <button type="submit" class="btn btn-danger">I'm certain</button>
    </form>
</div>
{%- endmacro %}

{% macro settings() -%}
<div class="card">
    <div class="card-body">
        <h1 class="card-title">Settings</h1>
        <p class="card-text">Tweak your site experience.</p>
        <hr> {{ delete_account () }}
    </div>
</div>
{%- endmacro %}

<!-- HEARTS -->



{% macro hearts() -%}
<div class="card">
    <div class="card-body">
        <h1 class="card-title">Hearts</h1>
        <p class="card-text">Use hearts to give appreciation or keep track of things.</p>
        <hr>
        <div class="d-flex justify-content-between align-items-center">
            <h2 class="dashboard__profile__heading">Projects</h2>
            <span class="badge badge-danger">2</span>
        </div>
         <div class="card-deck">
            {{ project_card() }}
            {{ project_card() }}
            {{ project_card() }}
        </div>
        <hr>
        <div class="d-flex justify-content-between align-items-center">
            <h2 class="dashboard__profile__heading">People</h2>
            <span class="badge badge-danger">4</span>
        </div>
        <div class="card-deck">
            {{ user_card() }}
            {{ user_card() }}
            {{ user_card() }}
        </div>
        <hr>
        <div class="d-flex justify-content-between align-items-center">
            <h2 class="dashboard__profile__heading">Received</h2>
            <span class="badge badge-danger">11</span>
        </div>
        <div class="card-deck">
            {{ user_card() }}
            {{ user_card() }}
            {{ user_card() }}
        </div>
    </div>
</div>
{%- endmacro %}