<!-- imports -->
{% extends "dashboard/layout.html" %} 
{% load static %}
<!-- add page title here -->
{% block title %} 
    Dashboard - Messages 
{% endblock %}
<!-- add custom css here -->
{% block head %} 
    {{ block.super }} 
{% endblock %}
<!-- switch active panel -->
{% block messages_active %}
active
{% endblock %}
<!-- add main content here -->
{% block panel %}
<div class="card">
    <div class="card-body">
        <h1 class="card-title">Messages</h1>
        <p class="card-text">This feature is still experimental.</p>
        <hr>
        {% block messages %}
        {% endblock %}
    </div>
</div>
{% endblock %}
<!-- add custom scripts here -->
{% block scripts %} 
    {{ block.super }} 
{% endblock %}