/* navigation */

nav {
    margin-top: 0px;
}

/* messages */

.site-messages {
    padding: 10px 0px 0px 0px;
}

/* validation */

.is-invalid {
    color: #FF6565;
}

.invalid-feedback {
    color: #FF6565;
}

#searchQuery
{
    width: 200px;
}

/** HOMEPAGE CARDS **/
.card-link
{
    position: absolute;
    top: 0; left: 0;
    height: 100%; width: 100%;
}

.card-link-2 .card-link-2:hover, .card-link-2:visited, .card-link-2:focus, .card-link-2:active
{
    display: block;
    text-decoration: none;
    color: inherit;
    outline: 0;
    cursor: auto;
}

/** HOMEPAGE JUMBOTRON **/
.jumbotron {
    background-color: #f7f7f7!important;
}


/** FOOTER **/

.bd-footer {
    padding: 4rem 0;
    margin-top: 2rem;
    font-size: 85%;
    text-align: center;
    background-color: #f7f7f7
}

.bd-footer a {
    font-weight: 500;
    color: #464a4c
}

.bd-footer a:hover {
    /* color: #0275d8 */
    text-decoration: none;
}

.bd-footer p {
    margin-bottom: 0
}

@media (min-width:576px) {
    .bd-footer {
        text-align: left
    }
}

.bd-footer-links {
    padding-left: 0;
    margin-bottom: 1rem
}

.bd-footer-links li {
    display: inline-block
}

.bd-footer-links li+li {
    margin-left: 1rem
}

/* LINKS */

.hide-underline {
    color: #485460;
    border-bottom: dotted 0.5px rgb(70, 70, 70);
    text-decoration: none;
}

.hide-underline:hover {
    color:#485460;
    border-bottom: dotted 0.5px rgb(70, 70, 70);
    text-decoration: none;
}
