.login {
    margin-top: 20px;
}

.login__right-panel {
    padding: 50px 100px; 
}

@media (max-width: 978px) {
    .login__right-panel {
        padding: 50px 50px; 
    }
}

.login__right-panel__form {
    padding: 20px 0px 0px 0px;
}

.login_right-panel__form__buttons {
    padding: 30px 0px 0px 0px;
}

.login__right-panel__form__general-errors {
    padding: 10px 0px 0px 0px;
    font-size: 16px;
    color: #FF6565;
}

.login__left-panel {
    height: 500px;
    overflow: hidden;
}

.login__left-panel__img {
    width: 100%;
    object-fit: fill;
}